:root {
    --red: #e60000;
    --white: #ffffff;
    --black: #000;
    --gray: #7b7676;
}

body {
    box-sizing: 0;
    margin: 0;
    padding: 0;
}

.btn-red {
    background-color: var(--red);
    color: var(--white);
}

.btn-gray {
    background-color: var(--gray);
    color: var(--white);
}

.header{
    height: 77vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description{
    width: 640px;
    line-height:2;
}